.btn-custom {
    background-color: #bfdbfe; /* $blue-200 の色コード */
    color: #000; /* ボタンの文字色を黒に設定 */
}
.btn-custom:hover {
    background-color: #93c5fd; /* ホバー時の色を少し濃く */
}
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}